
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="/public/codebase/skins/contrast.min.css" type="text/css">
  <script src="/public/codebase/webix.js" type="text/javascript"></script>
  <!-- <link rel="stylesheet" href="style.css"> -->


</head>

<body>



<!-- Общее -->
<script src="/public/js/LoginPopup.js"></script>
<script src="/public/js/function_load.js"></script>
<script src="/public/js/data.js"></script>

<!-- Компоненты кандидата -->
<script src="/public/js/components/candidate/AddCandidateInAssessmentPopup.js"></script>
<script src="/public/js/components/candidate/AddCandidatePopup.js"></script>
<script src="/public/js/components/candidate/views/CandidateView.js"></script>
<script src="/public/js/components/candidate/CandidatePage.js"></script>

<!-- Компоненты сотрудника -->
<script src="/public/js/components/employee/AddEmployeePopup.js"></script>
<script src="/public/js/components/employee/AddEmployeeInAssessmentPopup.js"></script>
<script src="/public/js/components/employee/views/EmployeeView.js"></script>
<script src="/public/js/components/employee/EmployeePage.js"></script>

<!-- Компоненты ассессмента -->
<script src="/public/js/components/assessment/AddAssessmentPopup.js"></script>
<script src="/public/js/components/assessment/views/AssessmentView.js"></script>
<script src="/public/js/components/assessment/Candidate/views/CandidateInAssessmentView.js"></script>
<script src="/public/js/components/assessment/Employee/views/EmployeeInAssessmentView.js"></script>

<script src="/public/js/components/assessment/Candidate/AssessmentAddCandidatePopup.js"></script>

<script src="/public/js/components/assessment/Employee/AssessmentAddEmployeePopup.js"></script>

<script src="/public/js/components/assessment/AssessmentPage.js"></script>
<script src="/public/js/components/assessment/Candidate/CandidateInAssessmentPage.js"></script>
<script src="/public/js/components/assessment/Employee/EmployeeInAssessmentPage.js"></script>

<!-- Главные вкладки -->
{{/*<script src="/public/js/components/candidate/CandidateCell.js"></script>*/}}
{{/*<script src="/public/js/components/assessment/AssessmentCell.js"></script>*/}}
{{/*<script src="/public/js/components/employee/EmployeeCell.js"></script>*/}}

<!-- Главная страница -->
<script src="/public/script.js"></script>

</body>

</html>
