
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="/public/codebase/skins/contrast.min.css" type="text/css">
  <script src="/public/codebase/webix.js" type="text/javascript"></script>
  <!-- <link rel="stylesheet" href="style.css"> -->


</head>

<body>
<script src="/public/js/LoginPopup.js"></script>
<script src="/public/js/function_load.js"></script>

<script src="/public/js/data.js"></script>

<script src="/public/js/list_of_student.js"></script>
<script src="/public/js/list_of_assessment.js"></script>
<script src="/public/js/list_of_employee.js"></script>
<script src="/public/js/AssessmentAddCandidatePopup.js"></script>
<script src="/public/js/AssessmentAddEmployeePopup.js"></script>
<script src="/public/js/addEmployeeInAssessment.js"></script>
<script src="/public/js/addCandidateInAssessment.js"></script>
{{/*<script src="/public/js/popup_delete_assessment.js"></script>*/}}
{{/*<script src="/public/js/popup_delete_student.js"></script>*/}}
{{/*<script src="/public/js/popup_delete_employee.js"></script>*/}}
<script src="/public/js/popup_add_assessment.js"></script>
<script src="/public/js/popup_add_student.js"></script>
<script src="/public/js/popup_add_employee.js"></script>
<script src="/public/js/function_edit.js"></script>
<script src="/public/script.js"></script>

<script src="/public/js/search.js"></script>

</body>

</html>
